{% extends "layout.html" %}


{% load static %}
{% block body%}


<div class="container my-2">
  <div class="card">
          <ul class="list-group">
              
              <li class="list-group-item list-group-item-primary">

                  
                  <h2 class="text-center">Educational Qualification</h2>
                  
              </li>
              
            </ul>
  </div>
</div>

<div class="container">
<div class="container my-2">
  <div class="card">   
          <ul class="list-group">
              
            <li class="list-group-item list-group-item-warning">

                  
<div class="container">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Degree</th>
        <th scope="col">Board/Institution</th>
        <th scope="col">Result/Cgpa</th>
        <th scope="col">Passing Year</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">SSC</th>
        <td>Adamjee Cantonment Public School</td>
        <td>5.00</td>
        <td>2017</td>
      </tr>
      <tr>
        <th scope="row">HSC</th>
        <td>Notre Dame College</td>
        <td>5.00</td>
        <td>2019</td>
      </tr>
      <tr>
        <th scope="row">Bsc in CSE</th>
        <td >Daffodil International University</td>
        <td>running</td>
        <td>2020 to running</td>
      </tr>
    </tbody>
  </table>

</div>
               
      </li>       
    </ul>
  </div>
</div>
</div>



<div class="container my-5">
  <div class="card">
      <!-- <div class="card-header"> -->
      
          <ul class="list-group">
              
              <li class="list-group-item list-group-item-primary">

                  
                  <h2 class="text-center">Achievement Certificate</h2>
                  
              </li>
              
            </ul>
  </div>
</div>

<div class="container">
<div class="container my-2">
  <div class="card">
      
          <ul class="list-group">
              
              <li class="list-group-item list-group-item-warning">

                  
                  <div class="container">

                     <h4>01.Optimization Using Artificial Intelligence: Hill Climbing Algorithm: </h4>
                     <center><img src="{% static 'images/certificate1.png' %}" alt="Certificate 1" width="600" height="400"></center>

                  </div>

                  <div class="container my-2">

                    <h4>02. TIPS & TRICKS OF IELTS WRITING 7+ BAND SCORE:</h4>
                    <center><img src="{% static 'images/certificate2.png' %}" alt="Certificate 2" width="600" height="400" ></center>
                  </div>             
              </li>
              
            </ul>   
  </div>
</div>
</div>




<div class="container mt-5"></div>

<div >
  <ul class="list-group">
   
    
    <div class="text-center">
      <li class="list-group-item list-group-item-dark">Copyright © Mohammad Salman - 201-15-14165. All Rights Reserved. Design & Developed by Mohammad Salman.</li>
    </div>
  </ul>
</div>


    
{% endblock %}