{% extends "layout.html" %}

{% load static %}

{% block body%}

<!-- 1st part : Introduction -->

<div class="container my-2">
    <div class="card">
        <div class="card-header">
        
            <ul class="list-group">
                
                <li class="list-group-item list-group-item-primary">

                    
                    <h2 class="text-center">Introduction</h2>
                    
                </li>
                
              </ul>
        
        </div>
    </div>
</div>

<div class="container my-2">
  <h4>Assalamualaikum, Everyone.</h4>
          <h5>
            Assalamualaikum, Everyone.
            My name is Mohammad Salman. I am a student at Daffodil International University. My university ID is 201-15-14165. My department is Computer Science and Engineering. I am learning Python and HTML in this semester and as a result, I have created this website about my portfolio using the Django framework.
          </h5>
          
          <h1 ></h1>
          
          <center><img src="{% static 'images/Mohammad Salman.png' %}" alt="Mohammad Salman" width="400" height="280"></center>
          <h5>Welcome to my website. Here I am showing some of my Work Experience and skills. Pray for me as I can develop my skills properly.</h5>
</div>

<div class="container mt-5">
    <div class=" card">
        <div class="card-header">
        <div>
            <ul class="list-group">
                
                <li class="list-group-item list-group-item-dark">

                    
                    <h2 class="text-center">Work Experience</h2>
                    
                </li>
                
              </ul>
        </div>
        </div>
    </div>
</div>

<!-- work Experience table -->

<div class="container mt-4">
    <ul class="list-group">
    
        <li class="list-group-item list-group-item-dark">
            <h4>01. 10 Minute School</h4>
            <div class="container">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-success"><h5>Math Instructor</h5></li>
                    <li class="list-group-item list-group-item-secondary"><h6>Period : January 01, 2018 to March 09, 2021</h6></li>
                    

                    <div class="container mt-1">
                      <ul class="list-group">
                        <li class="list-group-item list-group-item-danger"><h5>Class 8</h5></li>
                        <li class="list-group-item list-group-item-warning"><h5>Class 9</h5></li>
                        <li class="list-group-item list-group-item-info"><h5>Class 10</h5></li>
                      </ul>
                    </div>
                  </ul>
            </div>
        </li>
<div>

</div>

<li class="list-group-item list-group-item-dark">
  <h4>02. TigerIT Bangladesh Ltd</h4>
  <div class="container">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success"><h5>Software Engineer</h5></li>
          <li class="list-group-item list-group-item-secondary"><h6>Period : March 01, 2021 to April 01, 2022</h6></li>
          

          <div class="container mt-1">
            <ul class="list-group">
              <li class="list-group-item list-group-item-danger"><h5>Python</h5></li>
              <li class="list-group-item list-group-item-warning"><h5>Django</h5></li>
              <li class="list-group-item list-group-item-info"><h5>HTML, CSS, JS</h5></li>
            </ul>
          </div>
        </ul>
  </div>
</li>

<div>

</div>

<li class="list-group-item list-group-item-dark">
  <h4>03. Salman IT Limited</h4>
  <div class="container">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success"><h5>CEO</h5></li>
          <li class="list-group-item list-group-item-secondary"><h6>  Period : January 01, 2022 to Continue</h6></li>
          

          <div class="container mt-1">
            <ul class="list-group">
              <li class="list-group-item list-group-item-danger"><h5>Freelancing</h5></li>
              <li class="list-group-item list-group-item-warning"><h5>Hardware & Software</h5></li>
              <li class="list-group-item list-group-item-info"><h5>Web Development</h5></li>
            </ul>
          </div>
        </ul>
  </div>
</li>
</div>

<!-- work Experience done -->


<div class="container mt-4">
    <div class="card">
        <div class="card-header">
        <div>
            <ul class="list-group">
                
                <li class="list-group-item list-group-item-danger">

                    
                    <h2 class="text-center">Skills</h2>
                    
                </li>
                
              </ul>
        </div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="card text-white bg-info mb-3">
        <div class="card-body">
         <div class="row">
             <div class="col">
                <h3> Programming Language</h3>
                <div>
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">Python</div>
                            Secondary
                          </div>
                          <span class="badge bg-primary rounded-pill">50%</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">C</div>
                            Secondary
                          </div>
                          <span class="badge bg-primary rounded-pill">70%</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">Java</div>
                            Secondary
                          </div>
                          <span class="badge bg-primary rounded-pill">60%</span>
                        </li>
                      </ol>
                </div>
             </div>
            

             <div class="col">
              <h3> Graphics Design</h3>
                <div>
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">Logo</div>
                            Expert
                          </div>
                          <span class="badge bg-primary rounded-pill">89%</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">Banner</div>
                            Expert
                          </div>
                          <span class="badge bg-primary rounded-pill">90%</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">Animation</div>
                            Secondary
                          </div>
                          <span class="badge bg-primary rounded-pill">70%</span>
                        </li>
                      </ol>
                </div>
             </div>
            

         </div>
        
        </div>
        <div class="text-white bg-info mb-3">
        <div class="card-body">
        <div class="row">
             <div class="col">
                <h3 class="container">Language Proficiency</h3>
                <div>
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">English</div>
                            Secondary
                          </div>
                          <span class="badge bg-primary rounded-pill">90%</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">Bangla</div>
                            Expert
                          </div>
                          <span class="badge bg-primary rounded-pill">100%</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">Primary</div>
                            Cras justo odio
                          </div>
                          <span class="badge bg-primary rounded-pill">60%</span>
                        </li>
                      </ol>
                </div>
             </div>
            

             <div class="col">
              <h3> Framework</h3>
                <div>
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">Django</div>
                            Basic
                          </div>
                          <span class="badge bg-primary rounded-pill">40%</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold"> ASP.NET</div>
                            Basic
                          </div>
                          <span class="badge bg-primary rounded-pill">30%</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">Angular</div>
                            Basic
                          </div>
                          <span class="badge bg-primary rounded-pill">25%</span>
                        </li>
                      </ol>
                </div>
             </div>
            

         </div>
        
        </div>
      </div>
    </div>
</div>

  
<div class="container mt-5"></div>
<div >
  <ul class="list-group">
   
    
    <div class="text-center">
      <li class="list-group-item list-group-item-dark">Copyright © Mohammad Salman - 201-15-14165. All Rights Reserved. Design & Developed by Mohammad Salman.</li>
    </div>
  </ul>
</div>

{% endblock %}