<div >
    <ul class="list-group">       

        <li class="list-group-item list-group-item-dark">
          <h1 class="text-center"><p style="color:rgb(0, 128, 49);">Mohammad Salman's Portfolio</p></h1>
          <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'home' %}"><b>Home</b></a>
              </li>
      
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}"><b>About</b></a>
              </li>
      
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}"><b>Contact</b></a>
              </li>
          </ul>
        </li>
      
    </ul>
  </div>
